body {
	background-color: #1c2021;
	text-align: center;
}

h1 {
	border-width: 8px;
	width: 50px;
	height: 50px;
	border-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet) 1;
}

p {
	color: red;
	font-size: 32px;
	text-transform: uppercase;
	text-shadow: 0px -4px 4px red, 0px -4px 4px orange,  0px -8px 8px yellow, 0px -12px 12px green,  0px -16px 16px blue,  0px -20px 20px indigo, 0px -24px 24px violet;
		
}

.coolEmoji{
	text-shadow: 0px 0px 255px #ff0000,0px 0px 255px #7756c4;
	color: #b683d6;
	font-size: 164px;
}

a {
	text-decoration: none;
}

.thing {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	border-radius: 32px;
	background: 
   linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/100% 200%;
	animation: rainbowPlease 5s infinite;
}

@keyframes rainbowPlease {
	to {background-position:0 -200%}
}

/* .squareBackground {
	display: inline-block;
	height: 200px;
	width: 200px;
	margin: 8px;
	border-radius:3px;
	border: 8px dotted #2e303b;
	background: linear-gradient(#2e303b 0 0) padding-box,
	linear-gradient(red, orange, yellow, green, blue, indigo, violet) border-box; 
}

.squareDoted {
	border: 8px dotted #2e303b;
	height: calc(100% - 4px);
}

.squareFill {
	background: #fff;
	height: 100%;
} */